:root {
    --redor: #FC4747;
    --whole-page: #10141E;
    --blue-gray: #5A698F;
    --navy-blue: #161D2F;
    --white: #FFF

}
.screen-width {
    width: 1440px
}

.outfit-light {
    font-family: outfit-light, sans-serif;
    font-weight: 300;
}

.outfit-medium{
font-family: outfit-medium, sans-serif;
    font-weight: 500;
}

.page-bg {
    background-color: var(--whole-page);
}

.sideBar {
    background-color: var(--navy-blue);
    width: 8rem;
    height: 48rem;
    top: 45%;
    left: 5%;
    transform: translate(-50%, -50%);
}

.navy-blue {
    color: var(--navy-blue);
}

.blue-gray {
    color: var(--blue-gray);
}

.login-background {
    /*style background image*/
    background-image: url("https://wallpapercave.com/wp/wc1783047.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 100vh;
    width: 100vw;

}

.category-state svg path{
    fill: var(--white);
    transition: fill 0.2s ease 0s;
}


.category:hover svg path, .category:hover {
    transition: fill 0.2s ease 0s;
    fill: var(--white);
}


.input{
    border-bottom:solid 1px var(--whole-page);
}

.input:focus{
    border-bottom:solid 1px var(--blue-gray);
    caret-color: var(--redor);
}

.scrollbar::-webkit-scrollbar {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0,0);
    -webkit-border-radius: 10px;
    border-radius: 10px;
}

/* Handle */
.scrollbar::-webkit-scrollbar-thumb {
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background: rgba(255,0,0,0.8);
    -webkit-box-shadow: inset 0 0 6px var(--redor);
}

.seasonal-box{
    width: 30rem;
    display: inline-block;
    height: 15rem;
    margin-right: 3rem;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
}

.seasonal-img-box {
    width: 30rem;
    height: 15rem;
    border-radius: 10px;
    overflow: hidden;
    object-fit: cover;
}

.standard-box {
    width: 14rem;
    display: inline-block;
    height: 21rem;

    border-radius: 10px;
}

.anime-box {
    display: inline-block;
    width: 14rem;
    height: 21rem;
    border-radius: 10px;
    object-fit: fill;
}

.redor-button {
    background-color: var(--redor);
}

.text-redor {
    color: var(--redor);
}

.modal-width {
    width: 44rem;
}

.discover-modal-width {
    width: 66rem;
}

.skeleton {
    animation: skeleton-loading 1s infinite alternate;
}

.skeleton-text {
    width: 100%;
    height: 0.5rem;
    margin-bottom: 0.25rem;
    border-radius: 0.125rem;
    animation: skeleton-text 1s infinite alternate;
}

.skeleton-text :last-child{
    margin-bottom: 0;
    width: 80%;
}

@keyframes skeleton-loading {
    0% {
        background-color: hsl(200,20%,70%);
    }
    100% {
        background-color: hsl(200,20%,95%); ;
    }
}

